#a {
    text-align: center;
    color: brown;

}
body {
    background-color: aqua;
}

.container {
    border : solid 1px black;
    padding : 14px;
    margin : 40px;
    text-align: center;
    border-radius: 22px;
    text-decoration-color: black;
    background-color: aquamarine;
}

