body {
  color: black;
  background: white;
  height: 100%;
}

/* header section */
#Mainhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
  border-bottom: 1px solid #ddd;
  border: 1px solid black;
}

#Header1 {
  font-size: 3vw;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.05vw;
  margin-left: 1.5vw;
  border: 1px solid black;
}

#Header2 {
  display: flex;
  gap: 1.5vw;
  align-items: center;
  margin-right: 2vw;
  border: 1px solid black;
}

#Header2 a {
  color: #666;
  text-decoration: none;
  font-size: 1.2vw;
  font-weight: 500;
  cursor: pointer;
  
}

#Header2 a:hover {
  color: #000000ff;
}

.header {
  padding: 0.8vw;
}

/* main home section */
#Mains {
  margin-top: 300px;
  margin-left: 180px;
  width: 1080px;
  height: 600px;
  display: flex;
  border: 1px solid black;
}

#Main1 {
  width: 400px;
  height: 600px;
  border: 1px solid black;
}

#Main2 {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  margin-left: 80px;
}


#Main2a {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 600px;
  height: 100px;
  font-size: 50px;
  border: 1px solid black;
}

#Main2b {
  width: 600px;
  height: 440px;
  font-size: 23px;
  word-spacing: 4px;
  line-height: 1.5;
  border: 1px solid black;
}

#Main3 {
  width: 400px;
  height: 50px;
  margin-left: 180px;
  display: flex;
  margin-top: 15px;
  border: 1px solid black;
}

#Main3a {
  width: 160px;
  margin-right: 60px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

#Main3b {
  width: 180px;
  height: 60px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.buttons { 
  background-color: #4a17cbff; 
  color: white;             
  text-decoration: none;     
  border-radius: 8px;        
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.buttons:hover { 
  background-color: #2a0e70ff; 
  color: white;             
  text-decoration: none;     
  border-radius: 8px;        
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

/* about me section */

#aboutme1 {
width: 200px;
  height: 80px;
  margin: 300px auto 0 auto;
  border: 1px solid black;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  display: flex;
  font-size: 40px;
  letter-spacing: 2px;
}

#aboutme10 {
  display: flex;
  margin-left: 100px;
  margin: 100px auto 0 auto;
  height: 1000px;
  width: 1200px;
  display: flex;
  border: 1px solid black;
}

#aboutme2 {
  height: 1000px;
  width: 400px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#aboutme3 {
  height: 300px;
  width: 400px;
  border: 1px solid black;
}

#aboutme4 {
  height: 660px;
  width: 700px;
  margin-left: 100px;
  font-size: 23px;
  word-spacing: 4px;
  line-height: 1.5;
  border: 1px solid black;
}

#aboutme5,
#aboutme6,
#aboutme7,
#aboutme8,
#aboutme9 {
  height: 66px;
  width: 700px;
  margin-left: 100px;
  border: 1px solid black;
}

#aboutme9 {
  display: flex;
  border: 1px solid black;
}

#aboutme9a {
  width: 300px;
  height: 66px;
  margin-left: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}


#aboutme9b {
  height: 66px;
  width: 300px;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

#aboutme9a1, #aboutme9b1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4a17cbff; 
  color: white;             
  text-decoration: none;     
  border-radius: 30px;        
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

#aboutme9a1:hover, #aboutme9b1:hover {
  background-color: #211670ff; 
}


/* skills section */

#skillsbox1 { 
  width: 1200px;
  height: 300px;
  margin: 50px auto 0 auto;
  border: 1px solid black;
  display: flex;
}

.skillsboxs { 
  height: 300px;
  width: 400px;
  border: 1px solid black;
  margin-right: 80px;
}

.skillsboxslast { 
  height: 300px;
  width: 400px;
  border: 1px solid black;
}

#skillsbox2, #skillsbox3, #skillsbox4 { 
  width: 1200px;
  height: 300px;
  margin: 50px auto 0 auto;
  border: 1px solid black;
  display: flex;
}


#skills { 
  width: 200px;
  height: 80px;
  margin: 300px auto 0 auto;
  border: 1px solid black;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  display: flex;
  font-size: 40px;
  letter-spacing: 2px;
}

#skillsbox1 { 
  width: 1200px;
  height: 300px;
  margin: 90px auto 0 auto;
  border: 1px solid black;
  display: flex;
}


.skillsboxs { 
  height: 300px;
  width: 240px;
  border: 1px solid black;
  margin-right: 80px;
}

.skillsboxslast { 
  height: 300px;
  width: 240px;
  border: 1px solid black;
}

#skillsbox2, #skillsbox3, #skillsbox4 { 
  width: 1200px;
  height: 300px;
  margin: 50px auto 0 auto;
  border: 1px solid black;
  display: flex;
}

.skillsboxstop { 
  margin-top: 40px;
  border: 1px solid black;
  height: 180px;
  width: 240px;
}


.skillsboxstop img {
  height: 180px;
  width: 240px;
}

.skillsboxsbottom {
  border: 1px solid black;
  height: 80px;
  width: 240px;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  display: flex;
  font-size: 35px;
  letter-spacing: 2px;
}



/** experience section **/

#experience { 
  width: 200px;
  height: 80px;
  margin: 300px auto 0 auto;
  border: 1px solid black;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  display: flex;
  font-size: 40px;
  letter-spacing: 2px;
}

#experience1 { 
  width: 1200px;
  height: 300px;
  margin: 100px auto 0 auto;
  text-align: center;
  border: 1px solid black;
}

#experience2 { 
  width: 1200px;
  height: 300px;
  margin: 100px auto 0 auto;
  text-align: center;
  border: 1px solid black;
}

#experience3 { 
  width: 1200px;
  height: 300px;
  margin: 100px auto 0 auto;
  text-align: center;
  border: 1px solid black;
}

.parent {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    border: 1px solid black;
}

.div1 {
    grid-column: span 3;
    grid-row: span 4;
    border: 1px solid black;
}

.div2 {
    grid-column: 5 / span 7;
    border: 1px solid black;
}

.div3 {
    grid-column: 5 / span 8;
    grid-row: 2 / span 4;
     border: 1px solid black;
}

.div4 {
    grid-column: span 3;
    grid-row: 6;
     border: 1px solid black;
}

.div5 {
    grid-column: 4 / span 3;
    grid-row: 6;
     border: 1px solid black;
}

.div6 {
    grid-column: 7 / span 3;
    grid-row: 6;
     border: 1px solid black;
}

.div7 {
    grid-column: 10 / span 3;
    grid-row: 6;
     border: 1px solid black;
}

.div8 {
    grid-column: span 3;
    grid-row: 7;
     border: 1px solid black;
}

.div9 {
    grid-column: 4 / span 3;
    grid-row: 7;
     border: 1px solid black;
}

.div10 {
    grid-column: 7 / span 3;
    grid-row: 7;
     border: 1px solid black;
}

.div11 {
    grid-column: 10 / span 3;
    grid-row: 7;
    border: 1px solid black;
}

/* projects section */

#project1 { 
  display: flex;
  width: 1300px;
  height: 300px;
  justify-content: space-between;
  border: 1px solid black;
  margin: 200px auto 0 auto;
}


#project2 { 
  display: flex;
  width: 1300px;
  height: 300px;
  justify-content: space-between;
  border: 1px solid black;
  margin: 90px auto 0 auto;
}


.parent2 {
  display: grid;
  width: 48%;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  border: 1px solid black;
}

    
.div2a {
    grid-column: span 7 / span 7;
    grid-column-start: 6;
    grid-row-start: 1;
    border: 1px solid black;
}

.div2b {
    grid-column: span 5 / span 5;
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 1;
    border: 1px solid black;
}

.div2c {
    grid-column: span 7 / span 7;
    grid-row: span 4 / span 4;
    grid-column-start: 6;
    grid-row-start: 2;
    border: 1px solid black;
}

.div2d {
    grid-column: span 5 / span 5;
    grid-row-start: 6;
    border: 1px solid black;
}

.div2e {
    grid-column: span 5 / span 5;
    grid-column-start: 7;
    grid-row-start: 6;
    border: 1px solid black;
}

#project { 
 width: 200px;
  height: 80px;
  margin: 300px auto 0 auto;
  border: 1px solid black;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  display: flex;
  font-size: 40px;
  letter-spacing: 2px;
}


/** Awards section **/

#Awards {
 width: 700px;
  height: 80px;
  margin: 300px auto 0 auto;
  border: 1px solid black;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  display: flex;
  font-size: 40px;
  letter-spacing: 2px;
}



.Awards {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    margin: 100px auto 0 auto;
    border: 1px solid black;
    width: 1200px;
    height: 700px;
}
    
.award1 {
    grid-column: span 5 / span 5;
    grid-row: span 5 / span 5;
    border: 1px solid black;
}

.award1 img {
    width: 100%;
    height: 100%;
}

.award2 img {
    width: 100%;
    height: 100%;
}

.award2 {
    grid-column: span 5 / span 5;
    grid-row: span 5 / span 5;
    grid-column-start: 7;
    border: 1px solid black;
}

.award3 {
    grid-column: span 5 / span 5;
    grid-row-start: 6;
    border: 1px solid black;
}

.award3, .award5{ 
  font-size: 20px;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  display: flex;
}

.award4 {
    grid-column: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 7;
    border: 1px solid black;
}

.award5 {
    grid-column: span 5 / span 5;
    grid-column-start: 7;
    grid-row-start: 6;
    border: 1px solid black;
}

.award6 {
    grid-column: span 5 / span 5;
    grid-column-start: 7;
    grid-row-start: 7;
    border: 1px solid black;
}
        
/** Contacts **/
#contact { 
  width: 200px;
  height: 60px;
  margin: 300px auto 0 auto;
  border: 1px solid black;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  display: flex;
  font-size: 40px;
  letter-spacing: 2px;
}

#contactpage { 
  width: 1200px;
  height: 500px;
  margin: 80px auto 0 auto;
  border: 1px solid black;
  display: flex;
}

#contact1 { 
  width: 500px;
  height: 500px;
  margin-right: 100px;
  border: 1px solid black;
}

.contact { 
  width: 500px;
  height: 100px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;  
  display: flex;
  font-size: 20px;
  letter-spacing: 2px;
}

#contactlogo { 
  display: flex; 
  width: 500px;
  height: 100px;
  border: 1px solid black;
}

.contactlogo { 
  width: 62.5px;
  height: 100px;
  border: 1px solid black;
  margin-right: 10px;
}

.contactlogo img { 
  width: 50px;
  height: 100px;
  margin-right: 20px;
}

#contact2 { 
  width: 600px;
  height: 500px;
  border: 1px solid black;
}

#contact2a { 
  width: 600px;
  height: 100px;
  border: 1px solid black;
  margin-top: 80px;
}

#contact2b { 
  width: 600px;
  height: 100px;
  border: 1px solid black;
}

#contact2c { 
  width: 600px;
  height: 220px;
  border: 1px solid black;
}

/** footer section **/

#footer {
  height: 200px;
  width: 1200px;
  display: flex;
  border: 1px solid BLACK;
  
}

/** footer - typing section **/

#typing-container {
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  border: 1px solid black;
}

#cursor {
  font-weight: 300;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {Anthony
    opacity: 1;
  }
}

.white {
  color: white;
}

.green {
  color: #32cd32;
}

.yellow {
  color: #f4d03f;
}

#typing-container {
  height: 200px;
  width: 300px;
  margin-left: 100px;
  margin-top: 300px;
}