#a {
    text-align: center;
    color: brown;

}
.buttons {
    text-decoration: none;
    color: inherit;
}
.button {
    text-decoration: none;
    color: inherit;
    flex: 1;
    border: solid 1px white;
    padding: 20px;
    padding-top: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 100px;
    height: 40px;
    width: 200px;
}

 .text { 
    font-size: medium;
    color: rgb(234, 224, 224);
    font-family: 'Inter', sans-serif;
    margin: 0 20px;      /* Space outside the div */
    padding: 0 15px;     /* Space inside the div */
    max-width: 800px;    /* Optional: limits width and centers */
    margin-left: auto;   /* Centers the div */
    margin-right: auto;  /* Centers the div */
}

.images { 
    text-align: center;
    margin: 20px;
    padding: 30px;
}

.gdg-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.images1 {
    width: 500px; 
    height: 400px; 
    border-radius: 10px;
}
.button:hover {
    background-color: rgb(63, 97, 115);
}
body {
    margin: 0;
    padding: 20px; 
    background:rgb(50, 120, 200);
    color: rgb(185, 185, 185);
}
.link {
    text-decoration: none;
    color: inherit;
}

.body2 {
    background: linear-gradient(135deg, rgb(10, 40, 70), rgb(50, 120, 200));
    color: rgb(215, 220, 225);
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}
.container {
    border : solid 1px black;
    padding : 20px;
    margin : 60px;
    text-align: center;
    border-radius: 22px;
    text-decoration-color: black;
    background-color: aquamarine;
    flex: 1;
    width: 100px;
    text-decoration: none;
    color: inherit;

}

.pic1 {
    border: solid 10px black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 20px;
}

.pic {
    border: solid 10px black;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin: 20px;
}
